.title{
    margin-left: 150px;
}
.body{
    margin: auto;
}
.profile {
    text-align: center;
    background-color: #baf3fd;
    width: 300px;
    margin: 10px;
    padding: 100px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

