.navbar {
    background-color: #5314ff;
    padding: 10px;
    display: block;
}

.home, .about, .services, .gallery, .contact{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.home:hover, .about:hover, .services:hover, .gallery:hover, .contact:hover{
    background-color: #ec79e7;
    color: rgb(255, 255, 255);
}